.spice-mobiscroll{
    .dw {
        padding: 0;
        color: #31b6e7;
        background: #292829;
        
        .dwwc, .dwwl, .dww, .dwb{
            background: none;
        }

        .dwpm{
            .dww {
                background: none;
            }

            .dwwl, .dww{
                border: 0;
            }
        }

        .dwwb {
            background: #292829;
            box-shadow: none;
        }

        .dwwl{
            .dwb-a {
                background: #292829;
            }
        }

        .dwwol {
            width: 60%;
            left: 20%;
            height: 36px;
            border-top: 2px solid #31b6e7;
            border-bottom: 2px solid #31b6e7;
            margin-top: -20px;
            display: block;
        }

        .dwb {
            height: 36px;
            line-height: 36px;
            padding: 0;
            margin: 0;
            font-weight: normal;
            text-shadow: none;
            box-shadow: none;
            border-radius: 0;
        }

        .dwb-a {
            background: #29799c;
        }

    }

    .dwwr {
        padding: 0;
    }

    .dwc {
        margin: 0;
        padding: 30px 10px 1px 10px;
    }

    .dwhl {
        padding: 1px 10px;
    }

    .dwv {
        height: 36px;
        line-height: 36px;
        padding: 0;
        border-bottom: 2px solid #31b6e7;
        font-size: 14px;
    }

    .dwwl {
        margin: 0 2px;
    }

    .dww{
        border: 0;

        .dw-li {
            color: #fff;
            font-size: 14px;
            text-shadow: none;

            &.dw-hl {
                background: #31b6e7;
                background: rgba(49,182,231,.5);
            }
        }
    }

    .dwwo {
        background: linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
    }

    .dwwb{
        &:after{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px;
            color: #7e7e7e;
            width: 0;
            height: 0;
            border-width: 8px;
            border-style: solid;
            content: '';
        }

        span{
            display: none;
        }
    }

    .dwwbm{
        top: 0;
        bottom: auto;

        &:after{
            border-color: transparent transparent #7e7e7e transparent;
        }

        &.dwb-a{
            &:after {
                border-color: transparent transparent #319abd transparent;
            }
        }
    }

    .dwwbp {
        bottom: 0;
        top: auto;

        &:after {
            border-color: #7e7e7e transparent transparent transparent;
        }

        &.dwb-a{
            &:after {
                border-color: #319abd transparent transparent transparent;
            }
        }
    }

    .dwbc {
        border-top: 1px solid #424542;
        padding: 0;
    }

    .dwb-s, .dwb-n{
        .dwb{
            border-right: 1px solid #424542;
        }
    }

    &.dw-bottom, &.dw-top{
        .dw{
            border-radius: 0;
        }
    }

    .dwwms{
        .dwwol {
            display: none;
        }

        .dw-li{
            padding-left: 5px;
            padding-right: 36px;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: auto;
                right: 10px;
                width: 14px;
                height: 14px;
                margin-top: -9px;
                color: #31b6e7;
                line-height: 14px;
                border: 1px solid #424542;
                text-shadow: 0 0 5px #29799c;
            }
        }

        .dw-msel{
            &:after{
                content: '✔';
            }
        }
    }
    
    // light
    .dw {
        background: #f5f5f5;

        .dwwb {
            background: #f5f5f5;
            color: #f5f5f5;
        }
    }

    .dww{
        .dw-li{
            color: #000;
        }
    }

    .dwwo{
        background: linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
    }

    .dwbc{
        border-top: 1px solid #dbdbdb;
    }

    .dwb {
        color: #000;
    }

    .dwb-a {
        color: #fff;
    }

    .dwb-s, .dwb-n{
        .dwb{
            border-right: 1px solid #dbdbdb;
        }
    }

    .dw-bubble-bottom{
        .dw-arr {
            border-color: transparent transparent #f5f5f5 transparent;
        }
    }

    .dw-bubble-top{
        .dw-arr {
            border-color: #f5f5f5 transparent transparent transparent;
        }
    }

    .dwwms{
        .dw-li{
            &:after{
                text-shadow: 0 0 5px #31b6e7;
            }
        }
    }

    .dwc{
        display: block;
    }

    table{
        width: 100%;
        display: block;
    }

    tbody{
        width: 100%;
        display: block;
    }

    tr{
        display: flex;
    }

    td{
        flex: 1;
        overflow: hidden;
    }

    .dw-i{
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dwv{
        display: none;
    }

    .dwwr{
        padding-top: 36px;
    }

    .dwb{
         color: #45464a;
    }

    .dwbc{
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #f1f2f6;  

        .dwb-s{
            float: right;

            .dwb-e{
                text-align: right;
                padding-right: 15px;
            }
        }

        .dwb-c{
            float: left;

            .dwb-e{
                text-align: left;
                padding-left: 15px;
            }
        }
    }

    .dwb-n, .dwb-s{
        .dwb{
            border: none;
        }
    }

    .dwhl{
        padding: 1px 0;
    }

    .dwwc{
        padding: 0;
    }

    .dwwl, .dww{
        margin: 0;
    }

    .dww{
        .dw-li.dw-hl{
            background-color: transparent;
        }
    }

    .dw{
        .dwwol{
            width: 100%;
            left: 0;
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;           
        }

        .dwb-a{
            background-color: transparent;
            color: #45464a;
        }
    }
}